body:hover {
	cursor: default;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* -- Word -- */
#word {
	font-size: 15vw;
}

.word-enter {
	opacity: 0.01;
	/*font-size: 12px;*/
}

.word-enter.word-enter-active {
	opacity: 1;
	transition: opacity 1000ms linear;
	/*transition: font-size 8s ease-out;*/
	/*font-size: 24px;*/
}

/*.word-leave {
	opacity: 1;
}

.word-leave.word-leave-active {
	opacity: 0.01;
	transition: opacity 1000ms linear;
}*/

/* -- Part of Speech -- */
#partOfSpeech {
	font-size: 5vw;
}

.partOfSpeech-enter {
	opacity: 0.01;
}

.partOfSpeech-enter.partOfSpeech-enter-active {
	opacity: 1;
	transition: opacity 2000ms linear;
}


/* -- Definition -- */
#definition {
	justify-content: middle;
	align-content: center;
	font-size: 3vw;
}

.definition-enter {
	opacity: 0.01;
}

.definition-enter.definition-enter-active {
	opacity: 1;
	transition: opacity 3000ms linear;
}

/* Synonyms & Antonyms*/
.hide {
	visibility: hidden;
}

.show {
	display: flex;
}

.list {
	list-style-type: none;
	font-size: 2.5vw;
}

.list li {
	text-align: center;
	font-size: 1.5vw;
}

.show-elements {

}

.list-enter {
	opacity: 0.01;
}

.list-enter.list-enter-active {
	opacity: 1;
	transition: opacity 4000ms linear;
}
