body {
	background-image: url('coffee_table.jpg');
	background-size: 110vw 100vh;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

#center {
	margin-top: 8vw;
}

#title {
	font-size: 14vh;
	text-align: center;
	color: #fbfbf8;
}

#author {
	font-size: 2vw;
	line-height: 70%;
	margin-top: 50%;
	text-align: center;
}

#content {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

/* -- Word -- */
#word {
	font-size: 4vw;
	text-align: center;
	overflow-wrap: break-word;
	margin-top: 3vw;
}

/* -- Speaker Icon -- */

#icon {
	font-size: 2vw;
}

/* -- Part of Speech -- */
#partOfSpeech {
	font-size: 2.5vw;
	text-align: center;
	margin-top: 2vw;
}

/* -- Definition -- */
#definition {
	font-size: 1.5vw;
	text-align: center;
	overflow-wrap: break-word;
	margin-top: 2.5vw;
}

/* Synonyms & Antonyms*/
.list {
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	font-size: 1.5vw;
}

.list li {
	font-size: 1vw;
}

.normal-list {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
	list-style-type: none;
	justify-content: center;
	-webkit-justify-content: center;
}

.no-padding-list {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
	list-style-type: none;
	justify-content: center;
	-webkit-justify-content: center;
	padding: 0;
}